div#tic-tac-toe-game {
    height: 650px;
    width: 700px;
    text-align: center;
  }
  
  .row {
    text-align: center;
    display: table-row;
  }
  
  .grid-spot {
    height: 200px;
    width: 200px;
    display: inline;
    float: left;
    border: 2px solid black;
    display: table-cell;
  }
  
  
  .grid-spot:hover {
    border: 2px solid red;
  }
  